@model Labolatorium_3_App.Models.UserBorrowsViewModel

@{
    ViewData["Title"] = "Your Borrowings";
}

    <style >
    body {
        text-align: center; /* Wyśrodkowanie zawartości */
        background-color: #1E272E; /* Kolor tła strony */
        color: #fff; /* Kolor tekstu na stronie */
    }

    h1 {
        color: #fff; /* Kolor nagłówka */
    }

    .btn-primary {
        background-color: #2F4F4F; /* Kolor tła przycisku "Dodaj książkę" */
        color: #fff; /* Kolor tekstu na przycisku "Dodaj książkę" */
    }

    .table-container {
        background-color: #161D22; /* Kolor tła kontenera tabeli */
        border-radius: 10px; /* Ustawienie zaokrąglonych rogów dla efektu subtelności */
        overflow: hidden; /* Zapobieganie wyjścia treści poza kontener */
        width: 80%; /* Szerokość kontenera */
        margin: auto; /* Centrowanie kontenera na stronie */
        padding: 20px; /* Odpowiednie wypełnienie dla treści wewnątrz kontenera */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień dla efektu podniesienia */
        padding-bottom: 200px;
    }

    .table {
        background-color: #161D22; /* Kolor tła tabeli */
        width: 100%;
        color: #fff;
    }

    th {
        background-color: #161D22; /* Kolor tła nagłówków tabeli */
        color: #fff; /* Kolor tekstu w nagłówkach tabeli */
    }

    td {
        background-color: #fff; /* Kolor tła komórek tabeli */
    }

    .btn-outline-secondary,
    .btn-outline-info,
    .btn-outline-danger {
        color: #fff; /* Kolor tekstu na przyciskach z obramowaniem */
        border-color: #fff; /* Kolor obramowania przycisków z obramowaniem */
    }
</style>

<h2>@ViewData["Title"]</h2>

<div class="table-container">
    @if (Model.Borrows.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Borrow Date</th>
                    <th>Return Date</th>
                    <th>Library</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrow in Model.Borrows)
                {
                    <tr>
                        <td>@borrow.Book.Title</td>
                        <td>@borrow.BorrowDate.ToString("dd/MM/yyyy")</td>
                        <td>@borrow.ReturnDate?.ToString("dd/MM/yyyy")</td>
                        <td>@borrow.Library.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You have no borrowings.</p>
    }
</div>
